* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("Assets/background4.jpg");
    background-repeat: repeat;
    font-family: sans-serif;
}

.screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.title {
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 0;
    margin: 0;
    position: relative;
    top: 2vh;
}

.main {
    margin: 0 auto;
    width: 40vw;
    color: #171811;
    border: 2px solid #171811;
    background-color: #909669;
    position: relative;
    top: 5vh;
}

.main h3 {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    padding: 20px 0 0 0;
    margin: 0;
}

.main p {
    padding: 8px;
    padding-top: 0;
    margin: 0 auto;
    line-height: 1.5;
}

.navbar {
    border: 2px solid #171811;
    background-color: #909669;
    width: 40vw;
    position: relative;
    margin: 0 auto;
    top: 5vh;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

#navblock {
    border-right: 2px solid #171811;
    width: 25%;
    padding: 2px;
}

#navblock:nth-of-type(4) {
    border-right: none;
}

.navbar a {
        text-decoration: none;
        color: #171811;
}

    .navbar a:hover {
        color: white;
        text-decoration: none;
    }

.construction {
    margin: 0 auto;
    position: relative;
    width: 300px;
    top: 10vh;
    display: flex;
    align-content: center;
}

#doom {
    font-size: 200px;
    color: red;
    text-align: center;
    position: relative;
    top: 25vh;
}